{
  "plugins": [
    "react",
    "jasmine"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jasmine/recommended",
    "babel"
  ],
  "rules": {
    "linebreak-style": [
      "error",
      "windows"
    ],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/prop-types": "warn",
    "indent": "off",
    "object-curly-spacing": "off",
    "react/jsx-indent-props": "off",
    "react/jsx-closing-bracket-location": "off",
    "react/jsx-curly-spacing": "off",
    "react/jsx-sort-prop-types": "off",
    "react/require-extension": "off",
    "react/wrap-multilines": "off"
  },
  "env": {
    "jasmine": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}