{
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "babel"
  ],
  "rules": {
    "linebreak-style": [
      "error",
      "windows"
    ],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/prop-types": "off",
    "indent": "off",
    "object-curly-spacing": "off",
    "react/jsx-indent-props": "off"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}